# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# PowerShell
*.log
*.tmp
*.bak

# Node
node_modules/

# VS Code / JetBrains
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
